<% layout('layouts/boilerplate') %> 

<div class="mt-3 row">
    <div class="col-md-6 text-center">
      <a href="/register/doctor" class="btn btn-success">Register As a Doctor</a>
    </div>
    <div class="col-md-6 text-center">
      <a href="/register/patient" class="btn btn-info">Register As a Patient</a>
    </div>
</div>
  